/* DISEÑO BASE */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{

    /* COLORES */
    --primario: #E76B13;
    --secundario: #FFFBE6;
    --terciario: #AA4215;
    --color-titulo: #181818;
    --color-parrafo: #292929;

    /* FONTS */
    --font-titulo: 'Swis721 Lt BT', sans-serif;
    --font-parrafo-bold:'Rambla', sans-serif, bold;
    --font-parrafo-regular:'Rambla', sans-serif;
    --font-parrafo-italica:'Rambla', sans-serif, italic;

    /* ESPACIADO */
    --espaciado-grande: 6rem;
    --espaciado-medio:2.4rem ;
    --espaciado-pequeño:2rem ;
    --espaciado-extrapequeño:1rem ;

    /* TAMAÑOS DE FONT */
    --text-grande: 5.2em;
    --text-mediano:1.25em;
    --text-base:1em;
    --text-pequeño:0.9em ;
}


/* Declaraciones Globales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    list-style-type: none;
    text-decoration: none;
    text-decoration-style: none;
}

p{
    margin:0;
    padding:0;
}

/* ....................................... */

.left{
    padding-left:1rem
}
.right{
    padding-right: 1rem;

}

/* BARRA MENÚ */

.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position:relative;
    z-index:10;
    
}
.aling-base{
    display: flex;
    align-items: center;
}

.nav-menu{
    width: 100%;
    margin: 25px;
    font-family: var(--font-titulo);
}
.menu{
    padding-left: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
} 

.menu-producto{
    padding-left: 650px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo-menu h1 img{
    width: 6rem;
    padding: 1rem;
    margin-left: 1rem;
}
.nav-home{
    margin: 1rem;
    padding-left: 50rem;
    position:absolute;
    z-index:10;
    opacity:0.9;
}

.nav-menu a:hover{
    color:var(--primario);
    border-bottom: 2px solid var(--primario);
}

.nav-menu li{
    display: inline-block;
    margin: 0 3px;
    line-height: 8%;
}

.nav-menu ul li a{
    list-style-type: none;
    text-decoration: none;
    text-decoration-style: none;
    color: var(--terciario);
    font-size: var(--text-mediano);
    font-family: var(--font-titulo);
    position: relative;
}







/* HEADER */

.cabecera{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: var(--secundario);
}

.cuerpo{
    display: flex;
    background-color: var(--secundario);   
}










/* LOGOS MENÚ Y FOOTER  */

/* logo home */

.logo {
    padding-top: 10%;
}

/* logos redes */

.redes h2{
    width: 280px;
    font-size:16px;
    font-family: var(--font-titulo);
}
.redes {
    margin: 0 auto;
 }

.bxl-instagram{
    color: var(--secundario);
    font-size: 30px;
}
.bxl-meta{
    color: var(--secundario);
    font-size: 30px;
}
.bx-envelope{
    color: var(--secundario);
    font-size: 30px;
}
.bxl-whatsapp{
    color: var(--secundario);
    font-size: 30px;
}


/*CONTENEDOR GENERAL Grilla de 12 columnas*/

.fondo-color{
    background-color:var(--primario);
}
.container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: visible;
    height: auto;
    position: relative;
    background-color: var(--secundario);

}


/* FOOTER */

.footer{
    background-color: var(--primario);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.footer div a{
    color: var(--secundario);
    font-size: var(--text-base);
    font-family: var(--font-titulo);
}
.footer div a:hover{
    color:var(--terciario);   
}
.footer-info{
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-logo img{
    width: 100%;
}
.footer-redes{
    display: flex;
    flex-direction: row;
    padding:2% 2% 2% 10%;
    /* padding-left: 70px; */
} 





/* TODAS LAS PÁGINAS*/ 





/* Slider General de todas las páginas*/


.slider { 
    position: relative; 
    width: 100%; 
    max-width: 100%; 
    /* margin: auto;  */
    overflow: hidden; 
}
.slides { 
    display: flex; 
    transition: transform 1s ease; 
}
.slides img { 
    width: 100%; 
    flex-shrink: 0; 
}

.section-slider{
    padding-right:15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/*HOME */

/* Grilla de sección */

.section-1{
    display: grid;
    grid-column: 1/6;
    max-width: 100%; 
    justify-content: center;
    align-content: space-around;    
}
.section-2{
    display: grid;
    grid-column: 6/13;
    max-width: 100%;       
}

/* Específico de Sección (textos, colores, etc) */

.text-home{    
    width: 65%;
    margin: 0 auto;
}

.text-home h2{
    font-size: var(--text-mediano);
    color: var(--secundario);
    font-family: var(--font-titulo);
    text-align: center;
} 









/*NOSOTROS*/

/* Grilla de sección */

.section-1-grid{
    padding-top: 6%;
    padding-bottom:5%;
    display: grid;
    grid-column: 1/6;
    max-width: 100%;     
}

/* Específico de Sección (textos, colores, etc) */

.text-border{
    display:grid;
    align-content: center;
    height: 45px;
    background-color:var(--terciario);    
}

.text-section div h2{
    margin: 2px;
    max-width: 100%;
    color: var(--secundario);
    font-size: var(--text-mediano);
    font-family:var(--font-titulo);
}
.text-section p{
    padding-top: var(--espaciado-extrapequeño);   
    color: var(--color-parrafo);
    font-size:var(--text-base);
    font-family:var(--font-parrafo-regular);
}

.img-nos{
    width: 100%;
}

 /* modificar a clases generales */

.padding-left h2{
    padding-left: 7rem;
}

.padding-left p{
    padding-left: 7rem;
}
.padding-right p{
    padding-right: 5rem;
}
.padding-top{
    padding-top: 2.5rem;
}
.padding-bottom{
    padding-bottom: 5rem;
}
/* Esta .section-2-grid es general se aplica tanto en nosotros, como servicios, y debería estar aplicada a contactos */

.section-2-grid{
    padding-top: 6%;
    padding-bottom:5%;
    display: grid;
    grid-column: 7/13;
    max-width: 100%;        
}










 
/*SERVICIOS*/

/* Grilla de sección */

.section-serv-1{
    padding-top: 3.125rem;
    display: grid;
    grid-column: 1/5;
    max-width: 100%;     
}
.section-serv-2{
    padding-top: 3.125rem;
    display: grid;
    grid-column: 7/13;
    max-width: 100%;        
}
.section-2-img{
    margin-top: 3.125rem;
    padding-right: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    justify-items: stretch;
    align-items: end;
 } 

/* Específico de Sección (textos, colores, etc) */

.section-2-img div img{
    width: 100%;
    height: 100%;
}
.all{
    grid-column: 1/7;
}
.half{
      grid-column: 4/7;
}
.quarter{
    grid-column: 2/4;
}
.padding-right div h2{
    padding-left: 0.625rem;
}
.text-border h2{
    font-family: var(--font-titulo);
    font-size: var(--text-mediano);
}

/* texto sección fabricación de muebles a medida */
.col-4-p{
    padding-right: 7rem;
}












/*CONTACTOS*/

/* Grilla de sección */
/* .section-2-grid-contact{
    padding-top: 50px;
    padding-bottom: 80px;
    display: grid;
    grid-column: 7/13;
    max-width: 100%; 
}
.section-2-grid img{
    max-width: 100%;
} */
/* .text-section-contact div h2{
    margin: 0 2px 2px;
    padding-left: 5rem;
    max-width: 100%;
    color: var(--secundario);
    font-size: 32px;
    font-family:var(--font-titulo);
} */
/* .text-section-contact p{
    margin-top: 50px;
    margin-bottom: 140px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 55px;
    padding-top: var(--espaciado-extrapequeño);  
    padding-bottom: var(--espaciado-extrapequeño); 
    color: var(--color-parrafo);
    font-size:var(--text-mediano);
    font-family:var(--font-parrafo-regular);
    text-align: center;
}
.text-section-grid2 div h2{
    margin: 0 2px 2px;
    padding-left: 5rem;
    max-width: 100%;
    color: var(--secundario);
    font-size: 32px;
    font-family:var(--font-titulo);
}
.text-section-grid2 p{
    margin-top: var(--espaciado-medio);
    font-size: var(--text-mediano);
} */

.padding-top-p{
    padding-top: 2rem;
}
.img-contact img{
    width: 100%;
    max-width: 100%;
}
.section-1-grid-iframe iframe {
    padding-left: 1rem;
    width: 100%;
    max-width: 100%;
}













/*PRODUCTOS */

/* Grilla de sección */

.grid-categorias-productos{
    display: grid;
    grid-column: 1/13;
    max-width: 100%;
    justify-content: center;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    
}
.catergoria{
    display: grid;
    grid-column: 1/13;
    max-width: 100%;
    align-items: center;
}

.top{
    margin-top:60px ;
}
.catergoria-titulo{
    padding: 1rem;
    display: grid;
    grid-column: 1 / 3;
    max-width: 100%;
    align-content: center;
    font-size: 2rem;
    color: rgb(85, 84, 84);
    font-family: var(--font-titulo);
    text-transform: uppercase;
    width: 10rem;
    height: 2rem;
}

.catergoria-linea{
    display: grid;
    grid-column: 3/13;
    /* max-width: 100%; */
    align-content: center;
}
.catalog-item{
    display: grid;
    grid-column: 1 / 13;
    justify-content: start;
}


.item-grid-1{
    display:grid;
    grid-column: 1/3;
}
.item-grid-2{
    display:grid;
    grid-column: 3/6;
}
.item-grid-3{
    display:grid;
    grid-column: 6/9;
}
.item-grid-4{
    display:grid;
    grid-column: 9/13;
}

.item{

    padding:15px 15px;
    gap:10px;
    /* max-width: 100%; */

    color: #181818;
    font-family: var(--font-parrafo-bold);
    text-align: start;


/* Específico de Sección (textos, colores, etc) */

}
/* .catergoria div h2{
    padding-left: 15px;
    font-size: 3.125rem;
    color: rgb(85, 84, 84);
    font-family: var(--font-titulo);
    text-transform: uppercase;

} */


/* .item img{
    width: 300px;
}
.item h4{
    width: 300px;
    margin: 5px;
}*/

.item p{
    width: 300px;
    color: #181818;
    font-family: var(--font-parrafo-regular);
    text-align: justify;
} 



















 